*, *:before, *:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  color: #ccc;
  font-size: 14px;
}
.main{
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: #1b344f;
}
.container {
  width: 700px;
  max-width: calc(100% - 2rem);
  margin: 1rem auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .8rem;
  background-color: #081724;
  border-radius: 4px;
  border: 1px solid #081724;
  box-shadow: 0 4px 8px #081724;
}
.title{
  word-break: break-word;
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}



